---
name: Testing

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test against Ruby 2.7

    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7
        bundler-cache: true 
    - name: Run tests
      env:
        RAILS_ENV: test
      run: |
        bundle exec rspec
